.container {
    max-width: 400px;
  }
  
  input[type=text],
  input[type=text]:focus {
    color: #fff;
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 400px;
  }
  
  .todos-container {
    padding: .5em;
    border: 1px solid var(--gray);
    border-radius: 8px;
  }

  .todos-container li {
    background: #484E53;
  }
  
  i[data-trash] {
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

  /* .list-group-item span {
    position: relative;
    right: 18%;
  } */

  

  .success {
    padding: .5em;
    border: 1px solid var(--success);
    border-radius: 8px;
  }

 .task-done {
  text-decoration: line-through;
 }